<ion-view title="Cadastro" id="page6" style="background-color:#6D8AE5;">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Nome</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">RM</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">SENHA</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <a ui-sref="menu.registrado" id="cadastro-button5" style="font-weight:500;color:#6885CC;border-radius:5px 5px 5px 5px;" class="button button-stable  button-block">CADASTRAR</a>
        </form>
    </ion-content>
</ion-view>