<ion-view title="ETEC Ruth Cardoso" id="page5">
    <ion-content padding="true" class="has-header">
        <a ui-sref="menu.webRuthinhaLogin" id="eTECRuthCardoso-button8" class="button button-positive  button-block">Voltar</a>
        <a href="#" onclick="window.open('www.google.com.br', '_system', 'location=yes'); return false;" id="eTECRuthCardoso-button7" class="button button-positive ">SAIR</a>
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Cursos Disponíveis</h2>
                <p style="white-space:normal;">Aprenda uma nova profissão e descubra um profissional em você</p>
            </ion-item>
            <ion-item class="item-divider">Cursos Técnicos</ion-item>
        </ion-list>
        <ion-list>
            <ion-item>Informática</ion-item>
            <ion-item>Edificações</ion-item>
            <ion-item>Enfermagem</ion-item>
            <ion-item class="item-divider">Cursos Rápidos</ion-item>
            <ion-list>
                <ion-item>PLATAFORMA IONICS</ion-item>
                <ion-item>BANCO DE DADOS</ion-item>
                <ion-item>REDES</ion-item>
            </ion-list>
        </ion-list>
    </ion-content>
</ion-view>